body {
  background: url(./img/background.jpg) no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
}

.game {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
}

#player {
  width: 200px;
  height: 200px;
  background-image: url(./img/kenguru.png);
  background-size: 200px;

  position: absolute;
  bottom: -15px;
}

hr {
  height: 70px;
  width: 100%;
  background-color: rgb(102, 95, 95);
  border: none;
  margin: 0;
}

.score p{
  font-size: 40px;
  text-align: end;
  margin-right: 50px;
}