body {
  padding: 25px;
  background: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'VT323', Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .score {
    font-size: 35px;
    padding-top: 25px;
  }

@media screen and (max-width: 1300px) {
    .content {
        flex-direction: column;
    }

    body {
      padding: 25px;
      background: url(./img/background.jpg);
      background-repeat: no-repeat;
      background-size: 3000px;
      background-position: center;
}
}