body,
main {
  background: url(./img/background.jpg) no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  font-family: "VT323", Arial, Helvetica, sans-serif;
}

header {
  margin: 1rem;
  padding: 0;
}

.game {
  width: 100%;
  height: 100vh;
  border: 2px solid black;

  position: relative;
}

#player {
  width: 100px;
  height: 100px;
  /* background-image: url(./img/kenguru.png);  */
  background-size: 200px;

  background: yellow;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50px;

  /* outline: 2px dashed red; */
}

hr {
  height: 70px;
  width: 100%;
  background-color: rgb(102, 95, 95);
  border: none;
  margin: 0;
}

.score-div p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  text-align: end;
  margin-right: 50px;
}


#object {
  width: 25px;
  height: 50px;
  background: brown;
  position: absolute;
  bottom: 0;
  left: 100vw;
  animation: object-animation linear infinite 4s;
}
    

.jump {
  animation: jump linear 0.5s;
}

@keyframes jump {
     0% {
    top: 370px;
  }
  30% {
    top: 310px;
  }
  50% {
    top: 240px;
  }
  80% {
    top: 310px;
  }
  100% {
    top: 370px;
  }  */

  0% {
    bottom: 0;
  }
  30% {
    bottom: 80px;
  }
  50% {
    bottom: 170px;
  }
  80% {
    bottom: 80px;
  }
  100% {
    bottom: 0;
  }
}


@keyframes object-animation {
  0% {
    left: 100vw;
  }

  100% {
    left: -20px;
  }
}
